# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
.venv*/
env/
venv/

# Environment
.env

# Streamlit
.streamlit/secrets.toml

# IDE
.vscode/
.idea/

# OS
.DS_Store

# uv
*.lock